logs/
mods/
local/
crash-reports/
resourcepacks/
saves/
XaeroWaypoints_BACKUP240807/
wd_filehost/
xaero/
data/
schematics/
server-resource-packs/
texture-packs/
shader-packs/
screenshots/
coremods/
wd_next.txt
usercache.json
ears-debug.log
rhino.local.properties
.qmenu_opened.marker
emi.json
usernamecache.json
